@keyframes scrollTransitionColorIn-1 {
    0% {
        filter: saturate(50%)
    }

    32% {
        filter: saturate(100%)
    }
}

@keyframes scrollTransitionColorIn-2 {
    0% {
        filter: saturate(25%)
    }

    32% {
        filter: saturate(100%)
    }
}

@keyframes scrollTransitionColorIn-3 {
    0% {
        filter: saturate(0%)
    }

    32% {
        filter: saturate(100%)
    }
}

@keyframes Rebound-1 {
    0% {
        transform: perspective(1500px) translateZ(0em) rotateX(30deg);
        transform-origin: 50% 100%;
        opacity: 0
    }

    25% {
        transform: perspective(1500px) translateZ(0em) rotateX(0deg);
        transform-origin: 50% 50%;
        opacity: 1
    }
}

@keyframes Rebound-2 {
    0% {
        transform: perspective(1800px) translateZ(-50em) rotateX(70deg);
        transform-origin: 50% 100%
    }

    47% {
        transform: perspective(1800px) translateZ(0em) rotateX(0deg);
        transform-origin: 50% 50%
    }

    53% {
        transform: perspective(1800px) translateZ(0em) rotateX(0deg);
        transform-origin: 50% 50%
    }

    100% {
        transform: perspective(1800px) translateZ(-50em) rotateX(-70deg);
        transform-origin: 50% 0%
    }
}

@keyframes Rebound-3 {
    0% {
        transform: perspective(1300px) translateZ(-70em) rotateX(90deg);
        transform-origin: 50% 100%
    }

    47% {
        transform: perspective(1300px) translateZ(0em) rotateX(0deg);
        transform-origin: 50% 50%
    }

    53% {
        transform: perspective(1300px) translateZ(0em) rotateX(0deg);
        transform-origin: 50% 50%
    }

    100% {
        transform: perspective(1300px) translateZ(-70em) rotateX(-90deg);
        transform-origin: 50% 0%
    }
}

@keyframes LooseHinge-1 {
    0% {
        transform: rotate(5deg);
        transform-origin: 0% 0%
    }

    50% {
        transform: rotate(0deg);
        transform-origin: 50% 50%
    }

    100% {
        transform: rotate(5deg);
        transform-origin: 100% 100%
    }
}

@keyframes LooseHinge-2 {
    0% {
        transform: rotate(10deg);
        transform-origin: 0% 0%
    }

    50% {
        transform: rotate(0deg);
        transform-origin: 50% 50%
    }

    100% {
        transform: rotate(10deg);
        transform-origin: 100% 100%
    }
}

@keyframes LooseHinge-3 {
    0% {
        transform: rotate(30deg);
        transform-origin: 0% 0%
    }

    50% {
        transform: rotate(0deg);
        transform-origin: 50% 50%
    }

    100% {
        transform: rotate(30deg);
        transform-origin: 100% 100%
    }
}
