@keyframes BlurIn-1 {
    0% {
        filter: blur(5px);
        transform: scale(0.992)
    }

    25% {
        filter: blur(0px);
        transform: scale(1)
    }
}

@keyframes BlurIn-2 {
    0% {
        filter: blur(8px);
        transform: scale(0.992)
    }

    25% {
        filter: blur(0px);
        transform: scale(1)
    }
}

@keyframes BlurIn-3 {
    0% {
        filter: blur(13px);
        transform: scale(0.992)
    }

    25% {
        filter: blur(0px);
        transform: scale(1)
    }
}

@keyframes scrollTransitionColorIn-1 {
    0% {
        filter: saturate(50%)
    }

    32% {
        filter: saturate(100%)
    }
}

@keyframes scrollTransitionColorIn-2 {
    0% {
        filter: saturate(25%)
    }

    32% {
        filter: saturate(100%)
    }
}

@keyframes scrollTransitionColorIn-3 {
    0% {
        filter: saturate(0%)
    }

    32% {
        filter: saturate(100%)
    }
}

@keyframes Rebound-1 {
    0% {
        transform: perspective(1500px) translateZ(0em) rotateX(30deg);
        transform-origin: 50% 100%;
        opacity: 0
    }

    25% {
        transform: perspective(1500px) translateZ(0em) rotateX(0deg);
        transform-origin: 50% 50%;
        opacity: 1
    }
}

@keyframes Rebound-2 {
    0% {
        transform: perspective(1800px) translateZ(-50em) rotateX(70deg);
        transform-origin: 50% 100%
    }

    47% {
        transform: perspective(1800px) translateZ(0em) rotateX(0deg);
        transform-origin: 50% 50%
    }

    53% {
        transform: perspective(1800px) translateZ(0em) rotateX(0deg);
        transform-origin: 50% 50%
    }

    100% {
        transform: perspective(1800px) translateZ(-50em) rotateX(-70deg);
        transform-origin: 50% 0%
    }
}

@keyframes Rebound-3 {
    0% {
        transform: perspective(1300px) translateZ(-70em) rotateX(90deg);
        transform-origin: 50% 100%
    }

    47% {
        transform: perspective(1300px) translateZ(0em) rotateX(0deg);
        transform-origin: 50% 50%
    }

    53% {
        transform: perspective(1300px) translateZ(0em) rotateX(0deg);
        transform-origin: 50% 50%
    }

    100% {
        transform: perspective(1300px) translateZ(-70em) rotateX(-90deg);
        transform-origin: 50% 0%
    }
}

@keyframes LooseHinge-1 {
    0% {
        transform: rotate(5deg);
        transform-origin: 0% 0%
    }

    50% {
        transform: rotate(0deg);
        transform-origin: 50% 50%
    }

    100% {
        transform: rotate(5deg);
        transform-origin: 100% 100%
    }
}

@keyframes LooseHinge-2 {
    0% {
        transform: rotate(10deg);
        transform-origin: 0% 0%
    }

    50% {
        transform: rotate(0deg);
        transform-origin: 50% 50%
    }

    100% {
        transform: rotate(10deg);
        transform-origin: 100% 100%
    }
}

@keyframes LooseHinge-3 {
    0% {
        transform: rotate(30deg);
        transform-origin: 0% 0%
    }

    50% {
        transform: rotate(0deg);
        transform-origin: 50% 50%
    }

    100% {
        transform: rotate(30deg);
        transform-origin: 100% 100%
    }
}

@keyframes overlayOpen {
    from {
        opacity: var(--overlay-open-from-opacity, 1);
        background-color: var(--overlay-open-from-background-color, transparent)
    }

    to {
        opacity: 1
    }
}

@keyframes overlayOpenWithoutOpacity {
    from {
        background-color: var(--overlay-open-from-background-color, transparent)
    }
}

@keyframes overlayOpenOpacity {
    from {
        opacity: var(--overlay-open-from-opacity, 1)
    }

    to {
        opacity: 1
    }
}

@keyframes overlayOpenContent {
    from {
        transform: var(--overlay-open-content-from-transform, translate3d(0, 0, 0));
        clip-path: var(--overlay-open-content-from-clip-mask, inset(0% 0% 0% 0%))
    }

    to {
        transform: translate3d(0, 0, 0);
        clip-path: var(--overlay-open-content-to-clip-mask, inset(0% 0% 0% 0%))
    }
}

@keyframes overlayClose {
    to {
        opacity: var(--overlay-close-to-opacity, 1);
        background-color: var(--overlay-close-to-background-color, transparent)
    }
}

@keyframes overlayCloseWithoutOpacity {
    to {
        background-color: var(--overlay-close-to-background-color, transparent)
    }
}

@keyframes overlayCloseOpacity {
    to {
        opacity: var(--overlay-close-to-opacity, 1)
    }
}

@keyframes overlayCloseContent {
    from {
        transform: translate3d(0, 0, 0);
        clip-path: var(--overlay-close-content-from-clip-mask, inset(0% 0% 0% 0%))
    }

    to {
        transform: var(--overlay-close-content-to-transform, translate3d(0, 0, 0));
        clip-path: var(--overlay-close-content-to-clip-mask, inset(0% 0% 0% 0%))
    }
}

@keyframes loopTranslate {
    0% {
        transform: translateZ(0px)
    }

    50% {
        transform: translateZ(1px)
    }

    100% {
        transform: translateZ(0px)
    }
}
