@keyframes scrollTransitionColorIn-1 {
    0% {
        filter: saturate(50%)
    }

    32% {
        filter: saturate(100%)
    }
}

@keyframes scrollTransitionColorIn-2 {
    0% {
        filter: saturate(25%)
    }

    32% {
        filter: saturate(100%)
    }
}

@keyframes scrollTransitionColorIn-3 {
    0% {
        filter: saturate(0%)
    }

    32% {
        filter: saturate(100%)
    }
}

