@keyframes ScaleOut-1 {
    0% {
        transform: scale(1);
        transform-origin: 50% 100%
    }

    50% {
        transform: scale(1);
        transform-origin: 50% 100%
    }

    100% {
        transform: scale(0.875);
        transform-origin: 50% 100%
    }
}

@keyframes ScaleOut-2 {
    0% {
        transform: scale(1);
        transform-origin: 50% 100%
    }

    50% {
        transform: scale(1);
        transform-origin: 50% 100%
    }

    100% {
        transform: scale(0.6);
        transform-origin: 50% 100%
    }
}

@keyframes scrollAnimationScaleOut-3 {
    0% {
        transform: scale(1);
        transform-origin: 50% 100%
    }

    50% {
        transform: scale(1);
        transform-origin: 50% 100%
    }

    100% {
        transform: scale(0.4);
        transform-origin: 50% 100%
    }
}

@keyframes scrollAnimationHelix-1 {
    0% {
        transform: perspective(4000px) rotatey(35deg) rotatez(1.5deg)
    }

    100% {
        transform: perspective(4000px) rotatey(-35deg) rotatez(-1.5deg)
    }
}

@keyframes scrollAnimationHelix-2 {
    0% {
        transform: perspective(3000px) rotatey(60deg) rotatez(2deg)
    }

    100% {
        transform: perspective(3000px) rotatey(-60deg) rotatez(-2deg)
    }
}

@keyframes scrollAnimationHelix-3 {
    0% {
        transform: perspective(2000px) rotatey(90deg) rotatez(3deg)
    }

    100% {
        transform: perspective(2000px) rotatey(-90deg) rotatez(-3deg)
    }
}

@keyframes scrollAnimationConveyor-1 {
    0% {
        transform: perspective(2500px) translateZ(25em) rotateX(45deg)
    }

    40% {
        transform: perspective(2500px) rotateX(0deg)
    }

    100% {
        transform: perspective(2500px) rotateX(0deg)
    }
}

@keyframes scrollAnimationConveyor-2 {
    0% {
        transform: perspective(2400px) translateZ(30em) rotateX(60deg)
    }

    50% {
        transform: perspective(2400px) rotateX(0deg)
    }

    100% {
        transform: perspective(2400px) rotateX(0deg)
    }
}

@keyframes scrollAnimationConveyor-3 {
    0% {
        transform: perspective(2300px) translateZ(45em) rotateX(85deg)
    }

    60% {
        transform: perspective(2300px) rotateX(0deg)
    }

    100% {
        transform: perspective(2300px) rotateX(0deg)
    }
}

@keyframes scrollAnimationRebound-1 {
    0% {
        transform: perspective(2100px) translateZ(-30em) rotateX(50deg);
        transform-origin: 50% 100%
    }

    47% {
        transform: perspective(2100px) translateZ(0em) rotateX(0deg);
        transform-origin: 50% 50%
    }

    53% {
        transform: perspective(2100px) translateZ(0em) rotateX(0deg);
        transform-origin: 50% 50%
    }

    100% {
        transform: perspective(2100px) translateZ(-30em) rotateX(-50deg);
        transform-origin: 50% 0%
    }
}

@keyframes scrollAnimationRebound-2 {
    0% {
        transform: perspective(1800px) translateZ(-50em) rotateX(70deg);
        transform-origin: 50% 100%
    }

    47% {
        transform: perspective(1800px) translateZ(0em) rotateX(0deg);
        transform-origin: 50% 50%
    }

    53% {
        transform: perspective(1800px) translateZ(0em) rotateX(0deg);
        transform-origin: 50% 50%
    }

    100% {
        transform: perspective(1800px) translateZ(-50em) rotateX(-70deg);
        transform-origin: 50% 0%
    }
}

@keyframes scrollAnimationRebound-3 {
    0% {
        transform: perspective(1300px) translateZ(-70em) rotateX(90deg);
        transform-origin: 50% 100%
    }

    47% {
        transform: perspective(1300px) translateZ(0em) rotateX(0deg);
        transform-origin: 50% 50%
    }

    53% {
        transform: perspective(1300px) translateZ(0em) rotateX(0deg);
        transform-origin: 50% 50%
    }

    100% {
        transform: perspective(1300px) translateZ(-70em) rotateX(-90deg);
        transform-origin: 50% 0%
    }
}

@keyframes scrollTransitionFadeUp-1 {
    0% {
        opacity: 0;
        transform: translateY(25px)
    }

    25% {
        opacity: 1;
        transform: translateY(0vh)
    }
}

@keyframes scrollTransitionFadeUp-2 {
    0% {
        opacity: 0;
        transform: translateY(40px)
    }

    25% {
        opacity: 1;
        transform: translateY(0vh)
    }
}

@keyframes scrollTransitionFadeUp-3 {
    0% {
        opacity: 0;
        transform: translateY(50px)
    }

    25% {
        opacity: 1;
        transform: translateY(0vh)
    }
}

@keyframes scrollTransitionScaleUp-1 {
    0% {
        opacity: 0;
        transform: scale(0.95)
    }

    25% {
        opacity: 1;
        transform: scale(1)
    }
}

@keyframes scrollTransitionScaleUp-2 {
    0% {
        opacity: 0;
        transform: scale(0.875)
    }

    25% {
        opacity: 1;
        transform: scale(1)
    }
}

@keyframes scrollTransitionScaleUp-3 {
    0% {
        opacity: 0;
        transform: scale(0.75)
    }

    25% {
        opacity: 1;
        transform: scale(1)
    }
}

@keyframes scrollAnimationTwistUp-1 {
    0% {
        opacity: 0;
        transform: translateY(25px) rotateY(27deg) rotateZ(1.5deg) perspective(4000px)
    }

    25% {
        opacity: 1;
        transform: translateY(0vh)
    }
}

@keyframes scrollAnimationTwistUp-2 {
    0% {
        opacity: 0;
        transform: translateY(40px) rotateY(35deg) rotateZ(2deg) perspective(3000px)
    }

    25% {
        opacity: 1;
        transform: translateY(0vh)
    }
}

@keyframes scrollAnimationTwistUp-3 {
    0% {
        opacity: 0;
        transform: translateY(65px) rotateY(40deg) rotateZ(3deg) perspective(2000px)
    }

    25% {
        opacity: 1;
        transform: translateY(0vh)
    }
}

@keyframes scrollTransitionBlurIn-1 {
    0% {
        filter: blur(5px);
        transform: scale(0.992)
    }

    25% {
        filter: blur(0px);
        transform: scale(1)
    }
}

@keyframes scrollTransitionBlurIn-2 {
    0% {
        filter: blur(8px);
        transform: scale(0.992)
    }

    25% {
        filter: blur(0px);
        transform: scale(1)
    }
}

@keyframes scrollTransitionBlurIn-3 {
    0% {
        filter: blur(13px);
        transform: scale(0.992)
    }

    25% {
        filter: blur(0px);
        transform: scale(1)
    }
}

@keyframes scrollTransitionColorIn-1 {
    0% {
        filter: saturate(50%)
    }

    32% {
        filter: saturate(100%)
    }
}

@keyframes scrollTransitionColorIn-2 {
    0% {
        filter: saturate(25%)
    }

    32% {
        filter: saturate(100%)
    }
}

@keyframes scrollTransitionColorIn-3 {
    0% {
        filter: saturate(0%)
    }

    32% {
        filter: saturate(100%)
    }
}

@keyframes scrollTransitionRebound-1 {
    0% {
        transform: perspective(1500px) translateZ(0em) rotateX(30deg);
        transform-origin: 50% 100%;
        opacity: 0
    }

    25% {
        transform: perspective(1500px) translateZ(0em) rotateX(0deg);
        transform-origin: 50% 50%;
        opacity: 1
    }
}

@keyframes scrollTransitionRebound-2 {
    0% {
        transform: perspective(1800px) translateZ(-50em) rotateX(70deg);
        transform-origin: 50% 100%
    }

    47% {
        transform: perspective(1800px) translateZ(0em) rotateX(0deg);
        transform-origin: 50% 50%
    }

    53% {
        transform: perspective(1800px) translateZ(0em) rotateX(0deg);
        transform-origin: 50% 50%
    }

    100% {
        transform: perspective(1800px) translateZ(-50em) rotateX(-70deg);
        transform-origin: 50% 0%
    }
}

@keyframes scrollTransitionRebound-3 {
    0% {
        transform: perspective(1300px) translateZ(-70em) rotateX(90deg);
        transform-origin: 50% 100%
    }

    47% {
        transform: perspective(1300px) translateZ(0em) rotateX(0deg);
        transform-origin: 50% 50%
    }

    53% {
        transform: perspective(1300px) translateZ(0em) rotateX(0deg);
        transform-origin: 50% 50%
    }

    100% {
        transform: perspective(1300px) translateZ(-70em) rotateX(-90deg);
        transform-origin: 50% 0%
    }
}

@keyframes LooseHinge-1 {
    0% {
        transform: rotate(5deg);
        transform-origin: 0% 0%
    }

    50% {
        transform: rotate(0deg);
        transform-origin: 50% 50%
    }

    100% {
        transform: rotate(5deg);
        transform-origin: 100% 100%
    }
}

@keyframes LooseHinge-2 {
    0% {
        transform: rotate(10deg);
        transform-origin: 0% 0%
    }

    50% {
        transform: rotate(0deg);
        transform-origin: 50% 50%
    }

    100% {
        transform: rotate(10deg);
        transform-origin: 100% 100%
    }
}

@keyframes LooseHinge-3 {
    0% {
        transform: rotate(30deg);
        transform-origin: 0% 0%
    }

    50% {
        transform: rotate(0deg);
        transform-origin: 50% 50%
    }

    100% {
        transform: rotate(30deg);
        transform-origin: 100% 100%
    }
}

@keyframes overlayOpen {
    from {
        opacity: var(--overlay-open-from-opacity, 1);
        background-color: var(--overlay-open-from-background-color, transparent)
    }

    to {
        opacity: 1
    }
}

@keyframes overlayOpenWithoutOpacity {
    from {
        background-color: var(--overlay-open-from-background-color, transparent)
    }
}

@keyframes overlayOpenOpacity {
    from {
        opacity: var(--overlay-open-from-opacity, 1)
    }

    to {
        opacity: 1
    }
}

@keyframes overlayOpenContent {
    from {
        transform: var(--overlay-open-content-from-transform, translate3d(0, 0, 0));
        clip-path: var(--overlay-open-content-from-clip-mask, inset(0% 0% 0% 0%))
    }

    to {
        transform: translate3d(0, 0, 0);
        clip-path: var(--overlay-open-content-to-clip-mask, inset(0% 0% 0% 0%))
    }
}

@keyframes overlayClose {
    to {
        opacity: var(--overlay-close-to-opacity, 1);
        background-color: var(--overlay-close-to-background-color, transparent)
    }
}

@keyframes overlayCloseWithoutOpacity {
    to {
        background-color: var(--overlay-close-to-background-color, transparent)
    }
}

@keyframes overlayCloseOpacity {
    to {
        opacity: var(--overlay-close-to-opacity, 1)
    }
}

@keyframes overlayCloseContent {
    from {
        transform: translate3d(0, 0, 0);
        clip-path: var(--overlay-close-content-from-clip-mask, inset(0% 0% 0% 0%))
    }

    to {
        transform: var(--overlay-close-content-to-transform, translate3d(0, 0, 0));
        clip-path: var(--overlay-close-content-to-clip-mask, inset(0% 0% 0% 0%))
    }
}

@keyframes loopTranslate {
    0% {
        transform: translateZ(0px)
    }

    50% {
        transform: translateZ(1px)
    }

    100% {
        transform: translateZ(0px)
    }
}
