--sxs {
    --sxs: 0 t-daOMHs t-beCCmj t-jffJHW t-cMwpSL
}

@media {

    :root,
    .t-daOMHs {
        --colors-gray0: #FFF;
        --colors-gray1: #F7F7F7;
        --colors-gray2: #EDEDED;
        --colors-gray3: #DEDEDE;
        --colors-gray4: #999;
        --colors-gray5: #696969;
        --colors-gray6: #333;
        --colors-gray7: #000;
        --colors-red1: #FAF4F3;
        --colors-red2: #DFBEBE;
        --colors-red3: #B93D3D;
        --colors-green1: #F4F8F3;
        --colors-green2: #B4D6B3;
        --colors-green3: #238020;
        --colors-blue1: #EBECF7;
        --colors-blue2: #3D46C2;
        --colors-blue3: #00075F;
        --colors-foregroundShadow: rgba(0, 0, 0, 0.08);
        --colors-foregroundLight: rgba(0, 0, 0, 0.6);
        --colors-foregroundHeavy: rgba(0, 0, 0, 0.85);
        --colors-backgroundShadow: rgba(255, 255, 255, 0.08);
        --colors-backgroundLight: rgba(247, 247, 247, 0.6);
        --colors-backgroundHeavy: rgba(255, 255, 255, 0.95);
        --colors-alert: #E15100;
        --colors-notification: #A87253;
        --colors-blend: multiply;
        --colors-blendInverted: screen;
        --colors-background: var(--colors-gray0);
        --colors-foreground: var(--colors-gray7);
        --colors-link: var(--colors-gray6);
        --colors-slate: var(--colors-gray5);
        --colors-focus: var(--colors-blue2);
        --colors-brandLight: var(--colors-blue1);
        --colors-brandDark: var(--colors-blue3);
        --colors-channelPrivate1: var(--colors-red1);
        --colors-channelPrivate2: var(--colors-red2);
        --colors-channelPrivate3: var(--colors-red3);
        --colors-channelPublic1: var(--colors-green1);
        --colors-channelPublic2: var(--colors-green2);
        --colors-channelPublic3: var(--colors-green3);
        --colors-channelClosed1: var(--colors-gray1);
        --colors-channelClosed2: var(--colors-gray3);
        --colors-channelClosed3: var(--colors-gray6);
        --colors-darkModeSetting: "DRKM" 0;
        --fonts-sans: 'areal', 'areal Fallback', Arial, Helvetica, sans-serif, Arial, Helvetica, sans-serif;
        --fonts-serif: Times New Roman, Times, serif;
        --fonts-compact: Arial Narrow, Arial, Helvetica, sans-serif;
        --fonts-mono: 'areal', 'areal Fallback', Arial, Helvetica, sans-serif, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
        --space-1: 5px;
        --space-2: 10px;
        --space-3: 15px;
        --space-4: 20px;
        --space-5: 25px;
        --space-6: 35px;
        --space-7: 45px;
        --space-8: 65px;
        --space-9: 80px;
        --space-10: 100px;
        --space-11: 130px;
        --space-nudge: 2px;
        --sizes-1: 5px;
        --sizes-2: 10px;
        --sizes-3: 15px;
        --sizes-4: 20px;
        --sizes-5: 25px;
        --sizes-6: 35px;
        --sizes-7: 45px;
        --sizes-8: 65px;
        --sizes-9: 80px;
        --sizes-10: 100px;
        --sizes-11: 130px;
        --sizes-nudge: 2px;
        --fontSizes-1: 0.78125rem;
        --fontSizes-2: 0.9rem;
        --fontSizes-3: 1rem;
        --fontSizes-4: 1.2rem;
        --fontSizes-5: 1.5rem;
        --fontSizes-6: 1.75rem;
        --fontSizes-7: 2rem;
        --fontSizes-8: 2.5rem;
        --fontSizes-9: 3rem;
        --radii-1: 3px;
        --radii-round: 50%;
        --radii-pill: 9999px;
        --shadows-1: 0px 0px 20px 0px var(--colors-foregroundShadow);
        --blurs-1: blur(15px)
    }

    .t-beCCmj {
        --colors-gray0: #000;
        --colors-gray1: #1A1A1A;
        --colors-gray2: #333333;
        --colors-gray3: #4F4F4F;
        --colors-gray4: #696969;
        --colors-gray5: #B2B2B2;
        --colors-gray6: #E5E5E5;
        --colors-gray7: #FFF;
        --colors-red1: #1A0404;
        --colors-red2: #412020;
        --colors-red3: #EB6864;
        --colors-green1: #121D12;
        --colors-green2: #2A4C29;
        --colors-green3: #98DC89;
        --colors-blue1: #191D52;
        --colors-blue2: #5E6DEE;
        --colors-blue3: #C1C4EA;
        --colors-foregroundShadow: rgba(255, 255, 255, 0.1);
        --colors-foregroundLight: rgba(255, 255, 255, 0.8);
        --colors-foregroundHeavy: rgba(255, 255, 255, 0.85);
        --colors-backgroundShadow: rgba(0, 0, 0, 0.1);
        --colors-backgroundLight: rgba(26, 26, 26, 0.6);
        --colors-backgroundHeavy: rgba(0, 0, 0, 0.95);
        --colors-alert: #FF7A30;
        --colors-notification: #AC7556;
        --colors-blend: screen;
        --colors-blendInverted: multiply;
        --colors-background: var(--colors-gray0);
        --colors-foreground: var(--colors-gray7);
        --colors-link: var(--colors-gray6);
        --colors-slate: var(--colors-gray5);
        --colors-focus: var(--colors-blue2);
        --colors-brandLight: var(--colors-blue1);
        --colors-brandDark: var(--colors-blue3);
        --colors-channelPrivate1: var(--colors-red1);
        --colors-channelPrivate2: var(--colors-red2);
        --colors-channelPrivate3: var(--colors-red3);
        --colors-channelPublic1: var(--colors-green1);
        --colors-channelPublic2: var(--colors-green2);
        --colors-channelPublic3: var(--colors-green3);
        --colors-channelClosed1: var(--colors-gray1);
        --colors-channelClosed2: var(--colors-gray3);
        --colors-channelClosed3: var(--colors-gray6);
        --colors-darkModeSetting: "DRKM" 1
    }

    .t-jffJHW {
        --colors-gray0: #F5F1F0;
        --colors-gray1: #EAE6E5;
        --colors-gray2: #E0DBDA;
        --colors-gray3: #CAC5C4;
        --colors-gray4: #AAA4A3;
        --colors-gray5: #7F7977;
        --colors-gray6: #4A4240;
        --colors-gray7: #342C2A;
        --colors-red1: #F3EAEC;
        --colors-red2: #EACCDB;
        --colors-red3: #C95D9E;
        --colors-green1: #EAEBE6;
        --colors-green2: #C0D5BC;
        --colors-green3: #238020;
        --colors-blue1: #E2DFE9;
        --colors-blue2: #8082C5;
        --colors-blue3: #00075F;
        --colors-foregroundShadow: rgba(0, 0, 0, 0.08);
        --colors-foregroundLight: rgba(0, 0, 0, 0.6);
        --colors-foregroundHeavy: rgba(0, 0, 0, 0.85);
        --colors-backgroundShadow: rgba(255, 255, 255, 0.08);
        --colors-backgroundLight: #F5F1F099;
        --colors-backgroundHeavy: #F5F1F0F2;
        --colors-alert: #D6540B;
        --colors-notification: #B47E5F;
        --colors-blend: multiply;
        --colors-blendInverted: screen;
        --colors-background: var(--colors-gray0);
        --colors-foreground: var(--colors-gray7);
        --colors-link: var(--colors-gray6);
        --colors-slate: var(--colors-gray5);
        --colors-focus: var(--colors-blue2);
        --colors-brandLight: var(--colors-blue1);
        --colors-brandDark: var(--colors-blue3);
        --colors-channelPrivate1: var(--colors-red1);
        --colors-channelPrivate2: var(--colors-red2);
        --colors-channelPrivate3: var(--colors-red3);
        --colors-channelPublic1: var(--colors-green1);
        --colors-channelPublic2: var(--colors-green2);
        --colors-channelPublic3: var(--colors-green3);
        --colors-channelClosed1: var(--colors-gray1);
        --colors-channelClosed2: var(--colors-gray3);
        --colors-channelClosed3: var(--colors-gray6);
        --colors-darkModeSetting: "DRKM" 0
    }

    .t-cMwpSL {
        --colors-gray0: #16171E;
        --colors-gray1: #191B24;
        --colors-gray2: #342E38;
        --colors-gray3: #4F4756;
        --colors-gray4: #81738C;
        --colors-gray5: #A798B3;
        --colors-gray6: #D5CADE;
        --colors-gray7: #E7DBF0;
        --colors-red1: #1F1C25;
        --colors-red2: #432F41;
        --colors-red3: #CB76A9;
        --colors-green1: #121D12;
        --colors-green2: #2A4C29;
        --colors-green3: #98DC89;
        --colors-blue1: #191D52;
        --colors-blue2: #5E6DEE;
        --colors-blue3: #C1C4EA;
        --colors-foregroundShadow: rgba(255, 255, 255, 0.1);
        --colors-foregroundLight: rgba(255, 255, 255, 0.8);
        --colors-foregroundHeavy: rgba(255, 255, 255, 0.85);
        --colors-backgroundShadow: rgba(0, 0, 0, 0.1);
        --colors-backgroundLight: #342E3899;
        --colors-backgroundHeavy: #16171EF2;
        --colors-alert: #FF7A30;
        --colors-notification: #AC7556;
        --colors-blend: screen;
        --colors-blendInverted: multiply;
        --colors-background: var(--colors-gray0);
        --colors-foreground: var(--colors-gray7);
        --colors-link: var(--colors-gray6);
        --colors-slate: var(--colors-gray5);
        --colors-focus: var(--colors-blue2);
        --colors-brandLight: var(--colors-blue1);
        --colors-brandDark: var(--colors-blue3);
        --colors-channelPrivate1: var(--colors-red1);
        --colors-channelPrivate2: var(--colors-red2);
        --colors-channelPrivate3: var(--colors-red3);
        --colors-channelPublic1: var(--colors-green1);
        --colors-channelPublic2: var(--colors-green2);
        --colors-channelPublic3: var(--colors-green3);
        --colors-channelClosed1: var(--colors-gray1);
        --colors-channelClosed2: var(--colors-gray3);
        --colors-channelClosed3: var(--colors-gray6);
        --colors-darkModeSetting: "DRKM" 1
    }
}

--sxs {
    --sxs: 1 k-dNOWux k-cLjNWA k-fLByRu k-bHbNKp k-bEeTBK k-eyOShd k-kqQlqK gvihfA
}

@media {
    @keyframes k-dNOWux {
        100% {
            transform: translateX(99%)
        }
    }

    @keyframes k-cLjNWA {
        0% {
            opacity: 0
        }

        100% {
            opacity: 100%
        }
    }

    @keyframes k-fLByRu {
        from {
            opacity: 0;
            transform: translateX(calc(100% + var(--space-4)))
        }

        to {
            opacity: 1;
            transform: translateX(0)
        }
    }

    @keyframes k-bHbNKp {
        0% {
            opacity: 1
        }

        100% {
            opacity: 0
        }
    }

    @keyframes k-bEeTBK {
        from {
            opacity: 1;
            transform: translateX(var(--radix-toast-swipe-end-x))
        }

        to {
            opacity: 0;
            transform: translateX(calc(100% + var(--space-4)))
        }
    }

    @keyframes k-eyOShd {
        0% {
            opacity: 0
        }

        100% {
            opacity: 1
        }
    }

    @keyframes k-kqQlqK {
        0% {
            opacity: 0;
            transform: translateY(calc(var(--space-2)*-1)) scale(.96)
        }

        100% {
            opacity: 1;
            transform: translateY(0) scale(1)
        }
    }

    *,
    *::before,
    *::after {
        box-sizing: border-box;
        font-synthesis: none
    }

    html,
    body,
    #__next {
        height: 100%;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-rendering: optimizeLegibility;
        font-optical-sizing: auto;
        background-color: var(--colors-background);
        color: var(--colors-foreground);
        font-family: var(--fonts-sans);
        font-variation-settings: var(--colors-darkModeSetting)
    }

    html,
    body,
    div,
    span,
    applet,
    object,
    iframe,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    blockquote,
    pre,
    a,
    abbr,
    acronym,
    address,
    big,
    cite,
    code,
    del,
    dfn,
    em,
    img,
    ins,
    kbd,
    q,
    s,
    samp,
    small,
    strike,
    strong,
    sub,
    sup,
    tt,
    var,
    b,
    u,
    i,
    center,
    dl,
    dt,
    dd,
    ol,
    ul,
    li,
    fieldset,
    form,
    label,
    legend,
    table,
    caption,
    tbody,
    tfoot,
    thead,
    tr,
    th,
    td,
    article,
    aside,
    canvas,
    details,
    embed,
    figure,
    figcaption,
    footer,
    header,
    hgroup,
    main,
    menu,
    nav,
    output,
    ruby,
    section,
    summary,
    time,
    mark,
    audio,
    video {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
        font-weight: 400;
        font-style: normal
    }

    html {
        font-size: 16px
    }

    article,
    aside,
    details,
    figcaption,
    figure,
    footer,
    header,
    hgroup,
    main,
    menu,
    nav,
    section {
        display: block
    }

    *[hidden] {
        display: none
    }

    body {
        line-height: 1
    }

    a {
        text-decoration: none;
        color: var(--colors-link)
    }

    strong,
    b {
        font-weight: bold
    }

    em,
    i {
        font-style: italic
    }

    ol,
    ul {
        list-style: none
    }

    blockquote,
    q {
        quotes: none
    }

    blockquote:before,
    blockquote:after,
    q:before,
    q:after {
        content: none
    }

    table {
        border-spacing: 0
    }

    :focus-visible {
        outline: 1px solid var(--colors-focus)
    }

    html[data-reduced-motion="true"] *,
    html[data-reduced-motion="true"] ::before,
    html[data-reduced-motion="true"] ::after {
        transition: none !important;
        animation: none !important
    }

    @media (prefers-reduced-motion: reduce) {

        *,
        ::before,
        ::after {
            transition: none !important;
            animation: none !important
        }
    }
}

--sxs {
    --sxs: 2 c-iYglRF PJLV c-iEDhts c-hTwdXI c-kiRQBM c-dQxkem c-eWgxhm c-lkaMZI c-lgwVNZ c-lhJMUg c-cCfVEt c-eKamhT c-dDmWjQ c-dUFvmU c-eogPdn c-hNiVqx c-ftzJsE c-gbjnmB c-cUoLFD c-gpJXAo c-kNfSEB c-cHOcqd c-htoFbB c-PJLV c-gQwbKx c-dTJwak c-dZyCOD c-cZabfP c-eJNopK c-hRpgUd c-cFFMrz c-kawSXS c-fpBhwK c-iHtwUJ c-bAJdsa c-ldDPaK c-fmfXXl c-gsVGru c-eUTpEF c-hdLoZa c-jfYOJE c-dydDve c-iwZiIB
}

@media {
    .c-iYglRF {
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        height: 2px;
        animation: k-dNOWux 60s cubic-bezier(0, 1, 1, 1);
        animation-fill-mode: forwards;
        transition: transform 250ms ease-out, opacity 125ms 125ms ease-in;
        ;
        transform: translate3d(0, 0, 0);
        z-index: 200;
        background-color: var(--colors-gray4)
    }

    .c-iEDhts>svg {
        display: block;
        width: 100%;
        height: 100%;
        fill: CurrentColor
    }

    .c-hTwdXI {
        -webkit-appearance: none;
        appearance: none;
        padding: 0;
        border: 0;
        margin: 0;
        background-color: transparent;
        color: inherit;
        font: inherit;
        text-align: inherit;
        cursor: pointer
    }

    .c-hTwdXI:disabled {
        cursor: default
    }

    .c-kiRQBM {
        display: inline-flex;
        flex-shrink: 0;
        align-items: center;
        justify-content: center;
        text-align: center;
        border-radius: var(--radii-1);
        cursor: pointer;
        font-family: var(--fonts-sans);
        -webkit-user-select: none;
        user-select: none;
        text-decoration: none;
        overflow: hidden;
        white-space: nowrap;
        font-weight: bold;
        background-color: var(--colors-gray1);
        color: var(--colors-link);
        border: 1px solid transparent;
        gap: var(--space-1)
    }

    .c-kiRQBM:hover {
        background-color: var(--colors-gray1);
        color: var(--colors-gray7);
        border: 1px solid var(--colors-gray3)
    }

    .c-kiRQBM:active {
        background-color: var(--colors-gray1);
        color: var(--colors-gray7);
        border: 1px solid var(--colors-gray7)
    }

    .c-kiRQBM:focus-visible {
        background-color: var(--colors-gray1);
        color: var(--colors-gray7);
        border: 1px solid var(--colors-focus);
        outline: none
    }

    .c-kiRQBM:disabled {
        pointer-events: none;
        background-color: var(--colors-gray1);
        color: var(--colors-gray4)
    }

    .c-dQxkem {
        flex: 2;
        min-width: 0;
        overflow: auto;
        -webkit-overflow-scrolling: touch
    }

    @media (max-width: 520px) {
        .c-dQxkem {
            height: 50vh
        }
    }

    .c-eWgxhm {
        position: relative;
        width: 1px;
        background-color: var(--colors-gray2);
        transition: background-color 200ms
    }

    @media (max-width: 520px) {
        .c-eWgxhm {
            display: none
        }
    }

    .c-eWgxhm:before {
        content: "";
        position: absolute;
        top: 0;
        left: 50%;
        bottom: 0;
        width: 3px;
        background-color: transparent;
        transform: translateX(-50%);
        pointer-events: none;
        transition: background-color 200ms
    }

    .c-eWgxhm:after {
        content: "";
        position: absolute;
        top: 0;
        left: 50%;
        bottom: 0;
        width: var(--sizes-3);
        cursor: ew-resize;
        transform: translateX(-50%)
    }

    .c-eWgxhm:hover {
        background-color: var(--colors-blue2)
    }

    .c-eWgxhm:hover:before {
        background-color: var(--colors-blue2)
    }

    .c-eWgxhm:active {
        background-color: var(--colors-blue3)
    }

    .c-lkaMZI {
        overflow: auto;
        -webkit-overflow-scrolling: touch;
        padding: var(--space-4);
        transition: opacity 200ms
    }

    @media (max-width: 520px) {
        .c-lkaMZI {
            flex: 1;
            width: 100% !important
        }
    }

    .c-lgwVNZ {
        font-family: var(--fonts-sans)
    }

    .c-lgwVNZ strong,
    .c-lgwVNZ b {
        font-weight: bold
    }

    .c-lgwVNZ em,
    .c-lgwVNZ i {
        font-style: italic
    }

    .c-lhJMUg {
        position: relative;
        overflow: hidden;
        background-color: var(--colors-gray1);
        border-radius: var(--radii-1)
    }

    .c-lhJMUg::after {
        animation-name: k-cLjNWA;
        animation-duration: 500ms;
        animation-direction: alternate;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
        background-color: var(--colors-gray2);
        border-radius: inherit;
        position: absolute;
        bottom: 0;
        top: 0;
        left: 0;
        right: 0;
        content: ""
    }

    .c-cCfVEt {
        flex-shrink: 0
    }

    .c-eKamhT {
        position: fixed;
        bottom: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        padding: var(--space-4);
        gap: var(--space-1);
        width: 390px;
        max-width: 100vw;
        margin: 0;
        list-style: none;
        z-index: 2147483647;
        outline: none
    }

    .c-dDmWjQ {
        padding-left: var(--space-8);
        padding-right: var(--space-8);
        padding-top: var(--space-6);
        padding-bottom: var(--space-6)
    }

    @media (max-width: 520px) {
        .c-dDmWjQ {
            padding-left: var(--space-3);
            padding-right: var(--space-3);
            padding-top: var(--space-3);
            padding-bottom: var(--space-3)
        }
    }

    .c-dUFvmU {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        gap: var(--space-4)
    }

    @media (max-width: 520px) {
        .c-dUFvmU {
            flex-direction: column;
            align-items: stretch
        }
    }

    .c-eogPdn {
        display: flex;
        align-items: center;
        gap: 0.5357142857142857em;
        min-width: 0
    }

    .c-eogPdn,
    .c-eogPdn a {
        color: var(--colors-slate)
    }

    .c-eogPdn:hover,
    .c-eogPdn a:hover {
        color: var(--colors-foreground)
    }

    .c-hNiVqx {
        background-color: var(--colors-gray4);
        width: 2px;
        height: 1em;
        flex-shrink: 0
    }

    .c-ftzJsE {
        width: 100%;
        height: 100%;
        overflow: hidden
    }

    .c-gbjnmB {
        display: grid;
        grid-column-gap: var(--space-3);
        grid-row-gap: var(--space-3);
        justify-content: center;
        grid-template-columns: repeat(auto-fill, minmax(260px, 1fr))
    }

    .c-cUoLFD {
        overflow: hidden;
        -webkit-hyphens: auto;
        hyphens: auto
    }

    .c-cUoLFD a {
        text-decoration: none
    }

    .c-gpJXAo {
        display: block;
        font-size: var(--fontSizes-1);
        color: var(--colors-gray5);
        border-bottom: 1px solid var(--colors-gray2);
        padding-bottom: var(--space-nudge);
        margin-bottom: var(--space-2);
        height: -moz-fit-content;
        height: fit-content
    }

    .c-kNfSEB {
        display: flex;
        position: relative;
        background-color: var(--colors-gray2);
        overflow: hidden;
        flex-shrink: 0
    }

    .c-cHOcqd {
        position: relative
    }

    .c-cHOcqd .c-jryhps {
        opacity: 0;
        transform: translateY(2px);
        transition: opacity 50ms, visibility 50ms;
        visibility: hidden
    }

    .c-cHOcqd:hover .c-jryhps {
        opacity: 1;
        visibility: visible
    }

    .c-htoFbB {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-gap: var(--space-3)
    }

    @media (max-width: 900px) {
        .c-htoFbB {
            grid-template-columns: 1fr
        }
    }

    @media (max-width: 900px) {
        .c-htoFbB>div {
            grid-column: span 12
        }
    }

    .c-gQwbKx {
        -webkit-appearance: none;
        appearance: none;
        font-family: var(--fonts-sans);
        margin: 0;
        outline: none;
        padding: 0;
        width: 100%;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        background-color: var(--colors-gray1);
        color: var(--colors-gray6);
        border: 1px solid transparent;
        border-radius: var(--radii-1);
        font-variant-numeric: tabular-nums
    }

    .c-gQwbKx :-webkit-autofill {
        -webkit-background-clip: text
    }

    .c-gQwbKx::placeholder {
        color: var(--colors-slate)
    }

    .c-gQwbKx:hover {
        background-color: var(--colors-gray2);
        color: var(--colors-gray6)
    }

    .c-gQwbKx:hover::placeholder {
        color: var(--colors-gray6)
    }

    .c-gQwbKx:active {
        background-color: var(--colors-gray2)
    }

    .c-gQwbKx:focus {
        background-color: var(--colors-gray2);
        border-color: var(--colors-focus)
    }

    .c-gQwbKx:disabled {
        pointer-events: none;
        background-color: var(--colors-gray2);
        color: var(--colors-gray4);
        cursor: not-allowed
    }

    .c-gQwbKx:disabled::placeholder {
        color: var(--colors-gray4)
    }

    .c-dTJwak {
        font-size: var(--fontSizes-1);
        line-height: 1.35;
        font-family: var(--fonts-sans);
        color: var(--colors-slate)
    }

    .c-dTJwak>input,
    .c-dTJwak>textarea {
        margin-top: var(--space-1)
    }

    .c-dZyCOD {
        display: flex;
        align-items: center;
        font-weight: bold;
        gap: var(--space-2);
        -webkit-user-select: none;
        user-select: none;
        color: var(--colors-slate);
        cursor: pointer
    }

    .c-dZyCOD:hover,
    .c-dZyCOD:focus {
        color: var(--colors-foreground)
    }

    .c-dZyCOD:focus {
        outline: 0
    }

    .c-dZyCOD:focus>div {
        border-color: var(--colors-focus)
    }

    .c-dZyCOD:disabled>div {
        color: var(--colors-gray4);
        border-color: var(--colors-gray4)
    }

    .c-cZabfP {
        all: unset;
        background-color: var(--colors-background);
        width: 12px;
        height: 12px;
        border-radius: var(--radii-1);
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--colors-slate);
        border: 1px solid var(--colors-slate)
    }

    .c-cZabfP:focus {
        border-color: var(--colors-focus)
    }

    .c-cZabfP:disabled {
        color: var(--colors-gray4);
        border-color: var(--colors-gray4)
    }

    .c-eJNopK {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: var(--space-2)
    }

    .c-hRpgUd,
    .c-hRpgUd div,
    .c-hRpgUd figure,
    .c-hRpgUd section,
    .c-hRpgUd blockquote,
    .c-hRpgUd tbody,
    .c-hRpgUd tr,
    .c-hRpgUd td,
    .c-hRpgUd article,
    .c-hRpgUd section,
    .c-hRpgUd header {
        display: flex;
        flex-direction: column;
        gap: var(--space-2)
    }

    .c-hRpgUd p,
    .c-hRpgUd ul,
    .c-hRpgUd ol,
    .c-hRpgUd pre,
    .c-hRpgUd blockquote,
    .c-hRpgUd h1,
    .c-hRpgUd h2,
    .c-hRpgUd h3,
    .c-hRpgUd h4,
    .c-hRpgUd h5,
    .c-hRpgUd h6,
    .c-hRpgUd hr {
        margin: 0;
        padding: 0
    }

    .c-hRpgUd h1,
    .c-hRpgUd h2,
    .c-hRpgUd h3,
    .c-hRpgUd h4,
    .c-hRpgUd h5,
    .c-hRpgUd h6 {
        font-weight: bold
    }

    .c-hRpgUd blockquote {
        border-left: 1px solid var(--colors-gray2);
        padding-left: var(--space-2)
    }

    .c-hRpgUd pre {
        background-color: var(--colors-gray1);
        padding-left: var(--space-2);
        padding-right: var(--space-2);
        padding-top: var(--space-1);
        padding-bottom: var(--space-1);
        overflow: auto
    }

    .c-hRpgUd pre code {
        font-family: var(--fonts-mono);
        font-variation-settings: "MONO" 100
    }

    .c-hRpgUd code {
        background-color: var(--colors-gray1);
        font-family: var(--fonts-mono);
        font-variation-settings: "MONO" 88
    }

    .c-hRpgUd a {
        font-weight: bold;
        color: var(--colors-link)
    }

    .c-hRpgUd i,
    .c-hRpgUd em {
        font-style: italic;
        font-variation-settings: "slnt" -12
    }

    .c-hRpgUd b,
    .c-hRpgUd strong {
        font-weight: bold
    }

    .c-hRpgUd hr {
        border: none;
        height: 1px;
        width: 100%;
        background-color: var(--colors-gray2)
    }

    .c-hRpgUd img {
        display: block;
        max-width: 100%;
        height: auto
    }

    .c-hRpgUd figcaption {
        font-size: var(--fontSizes-1);
        line-height: 1.35
    }

    .c-hRpgUd mark {
        background-color: var(--colors-blue1);
        color: var(--colors-foreground)
    }

    .c-hRpgUd ul {
        list-style-type: disc;
        padding-left: var(--space-3)
    }

    .c-hRpgUd ol {
        list-style-type: decimal;
        padding-left: var(--space-4)
    }

    .c-cFFMrz {
        border-radius: var(--radii-1);
        background-color: var(--colors-background);
        color: var(--colors-link);
        border: 1px solid;
        border-color: var(--colors-gray3);
        overflow: hidden
    }

    .c-kawSXS {
        position: relative;
        flex-shrink: 0
    }

    .c-fpBhwK {
        display: block;
        max-width: 100%;
        max-height: 100%;
        opacity: 0
    }

    .c-iHtwUJ {
        width: 100%;
        height: calc(100dvh - 55px);
        display: flex
    }

    .c-bAJdsa {
        font-family: var(--fonts-mono);
        font-variation-settings: "MONO" 100;
        align-items: center;
        -webkit-appearance: none;
        appearance: none;
        background-color: var(--colors-gray1);
        border-radius: var(--radii-1);
        border-width: 0;
        color: var(--colors-slate);
        display: inline-flex;
        flex-shrink: 0;
        font-size: 10px;
        font-variant-numeric: tabular-nums;
        font-weight: 600;
        height: 18px;
        justify-content: center;
        line-height: 0;
        outline: none;
        padding-left: 6px;
        padding-right: 6px;
        text-decoration: none;
        text-transform: uppercase;
        -webkit-user-select: none;
        user-select: none;
        vertical-align: middle;
        white-space: nowrap
    }

    .c-bAJdsa:disabled {
        pointer-events: none
    }

    .c-ldDPaK {
        position: relative;
        padding: var(--space-3);
        border: 2px solid var(--colors-gray2)
    }

    .c-ldDPaK .c-hRIxJA {
        opacity: 0;
        transform: translateY(2px);
        transition: opacity 50ms, visibility 50ms;
        visibility: hidden
    }

    .c-ldDPaK:hover .c-hRIxJA {
        opacity: 1;
        visibility: visible
    }

    .c-fmfXXl {
        position: relative;
        top: -55px;
        height: 0;
        visibility: hidden
    }

    .c-gsVGru {
        background-color: var(--colors-gray1)
    }

    .c-gsVGru[data-orientation=horizontal] {
        height: 1px;
        width: 100%
    }

    .c-gsVGru[data-orientation=vertical] {
        height: 100%;
        width: 1px
    }

    .c-eUTpEF {
        border-radius: var(--radii-1);
        display: inline-flex;
        flex-shrink: 0;
        align-items: center;
        justify-content: center;
        text-align: center;
        color: transparent;
        font-weight: bold;
        pointer-events: none
    }

    .c-hdLoZa {
        position: absolute;
        width: 100%;
        cursor: pointer;
        display: flex;
        justify-content: center;
        border-radius: 0 0 var(--radii-2) var(--radii-2);
        opacity: 1;
        transition: opacity 250ms
    }

    .c-hdLoZa>svg {
        transition: transform 250ms
    }

    .c-jfYOJE:hover {
        color: var(--colors-foreground) !important
    }

    .c-dydDve {
        display: flex;
        gap: var(--space-3);
        justify-content: center;
        flex-wrap: wrap
    }

    .c-iwZiIB {
        width: 315px;
        max-width: 100%
    }

    @media (max-width: 520px) {
        .c-iwZiIB {
            width: 100%
        }
    }
}

--sxs {
    --sxs: 3 c-kiRQBM-jzSEFA-size-sm c-lkaMZI-bDGmTT-mode-Idle c-lgwVNZ-cKptzc-size-lg c-lgwVNZ-crcoOa-size-sm c-lgwVNZ-gyaQWK-size-xs c-lgwVNZ-iepcqn-ellipsis-true c-lgwVNZ-Oovis-size-2xl c-hNiVqx-lHwZu-variant-and c-eogPdn-jAkmBv-active-true c-kiRQBM-sAxbx-size-icon c-ftzJsE-gidtAM-direction-vertical c-kNfSEB-rloUt-variant-round c-kNfSEB-XPzZk-size-xs c-gbjnmB-cPxgeA-layout-2-up c-PJLV-eEBDdL-span-narrow c-gQwbKx-dnoiPW-variant-default c-kiRQBM-bkODht-size-md c-PJLV-YeiRX-span-half c-PJLV-iIVauM-span-center c-lgwVNZ-hvnwLD-size-md c-lgwVNZ-jEHjPF-size-3xl c-PJLV-jbSjDi-span-media c-lgwVNZ-gAIwWS-hyphenate-true c-lgwVNZ-cLwtBv-size-xl c-PJLV-dvxAno-span-left c-PJLV-jqPVUp-span-right c-eUTpEF-jzSEFA-size-sm c-hdLoZa-boHwDt-expanded-false c-cFFMrz-uWqWv-active-true c-jfYOJE-jqbWUN-active-true c-hNiVqx-fvIekQ-variant-or c-jfYOJE-iaJGrk-active-false
}

@media {
    .c-kiRQBM-jzSEFA-size-sm {
        height: 24px;
        padding-left: var(--space-2);
        padding-right: var(--space-2);
        font-size: var(--fontSizes-1)
    }

    @media (max-width: 520px) {
        .c-kiRQBM-jzSEFA-size-sm {
            height: 37px;
            padding-left: var(--space-3);
            padding-right: var(--space-3)
        }
    }

    .c-lkaMZI-bDGmTT-mode-Idle {
        opacity: 1
    }

    .c-lgwVNZ-cKptzc-size-lg {
        font-size: var(--fontSizes-4);
        line-height: 1.45
    }

    .c-lgwVNZ-crcoOa-size-sm {
        font-size: var(--fontSizes-2);
        line-height: 1.45
    }

    .c-lgwVNZ-gyaQWK-size-xs {
        font-size: var(--fontSizes-1);
        line-height: 1.35
    }

    .c-lgwVNZ-iepcqn-ellipsis-true {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap
    }

    .c-lgwVNZ-Oovis-size-2xl {
        font-size: var(--fontSizes-6);
        line-height: 1.25
    }

    .c-hNiVqx-lHwZu-variant-and {
        transform: rotate(22.5deg)
    }

    .c-eogPdn-jAkmBv-active-true,
    .c-eogPdn-jAkmBv-active-true a {
        color: var(--colors-link)
    }

    .c-kiRQBM-sAxbx-size-icon {
        height: 24px;
        width: 24px;
        font-size: var(--fontSizes-1)
    }

    @media (max-width: 520px) {
        .c-kiRQBM-sAxbx-size-icon {
            height: 37px;
            width: 37px
        }
    }

    .c-kiRQBM-sAxbx-size-icon {
        background-color: var(--colors-backgroundHeavy)
    }

    .c-kiRQBM-sAxbx-size-icon:hover {
        background-color: var(--colors-gray1);
        color: var(--colors-link);
        border: 1px solid var(--colors-gray1)
    }

    .c-kiRQBM-sAxbx-size-icon:active {
        background-color: var(--colors-gray1);
        color: var(--colors-gray7);
        border: 1px solid var(--colors-gray3)
    }

    .c-kiRQBM-sAxbx-size-icon:focus-visible {
        background-color: var(--colors-gray1);
        color: var(--colors-link);
        border: 1px solid var(--colors-focus)
    }

    .c-kiRQBM-sAxbx-size-icon:disabled {
        background-color: transparent;
        color: var(--colors-gray4);
        border: 1px solid transparent
    }

    .c-ftzJsE-gidtAM-direction-vertical {
        -webkit-mask-image: linear-gradient(to top, transparent 0%, #fff 33%);
        mask-image: linear-gradient(to top, transparent 0%, #fff 33%)
    }

    .c-kNfSEB-rloUt-variant-round {
        border-radius: var(--radii-round)
    }

    .c-kNfSEB-XPzZk-size-xs {
        width: 25px;
        height: 25px
    }

    @media (max-width: 520px) {
        .c-gbjnmB-cPxgeA-layout-2-up {
            grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
            grid-column-gap: var(--space-1);
            grid-row-gap: var(--space-1)
        }
    }

    .c-PJLV-eEBDdL-span-narrow {
        grid-column: 5 / span 4
    }

    @media (max-width: 1200px) {
        .c-PJLV-eEBDdL-span-narrow {
            grid-column: 4 / span 6
        }
    }

    .c-gQwbKx-dnoiPW-variant-default {
        font-size: var(--fontSizes-3);
        line-height: 1.45;
        height: 40px;
        padding-left: var(--space-2);
        padding-right: var(--space-2)
    }

    .c-kiRQBM-bkODht-size-md {
        height: 28px;
        padding-left: var(--space-3);
        padding-right: var(--space-3);
        font-size: var(--fontSizes-2)
    }

    @media (max-width: 520px) {
        .c-kiRQBM-bkODht-size-md {
            height: 37px;
            padding-left: var(--space-4);
            padding-right: var(--space-4)
        }
    }

    .c-PJLV-YeiRX-span-half {
        grid-column: span 6
    }

    .c-PJLV-iIVauM-span-center {
        grid-column: 5 / span 4
    }

    @media (max-width: 1800px) {
        .c-PJLV-iIVauM-span-center {
            grid-column: 4 / span 6
        }
    }

    .c-lgwVNZ-hvnwLD-size-md {
        font-size: var(--fontSizes-3);
        line-height: 1.45
    }

    .c-lgwVNZ-jEHjPF-size-3xl {
        font-size: var(--fontSizes-7);
        line-height: 1.25
    }

    .c-PJLV-jbSjDi-span-media {
        grid-column: 4 / span 6
    }

    @media (max-width: 1800px) {
        .c-PJLV-jbSjDi-span-media {
            grid-column: 3 / span 8
        }
    }

    .c-lgwVNZ-gAIwWS-hyphenate-true {
        word-wrap: break-word;
        word-break: break-word;
        -webkit-hyphens: auto;
        hyphens: auto
    }

    .c-lgwVNZ-cLwtBv-size-xl {
        font-size: var(--fontSizes-5);
        line-height: 1.25
    }

    .c-PJLV-dvxAno-span-left {
        grid-column: span 4
    }

    @media (max-width: 1800px) {
        .c-PJLV-dvxAno-span-left {
            grid-column: span 3
        }
    }

    .c-PJLV-jqPVUp-span-right {
        grid-column: span 4
    }

    @media (max-width: 1800px) {
        .c-PJLV-jqPVUp-span-right {
            grid-column: span 6
        }
    }

    .c-eUTpEF-jzSEFA-size-sm {
        height: 24px;
        padding-left: var(--space-2);
        padding-right: var(--space-2);
        font-size: var(--fontSizes-1)
    }

    @media (max-width: 520px) {
        .c-eUTpEF-jzSEFA-size-sm {
            height: 37px;
            padding-left: var(--space-3);
            padding-right: var(--space-3)
        }
    }

    .c-hdLoZa-boHwDt-expanded-false {
        height: var(--sizes-7);
        align-items: flex-end;
        left: 0;
        bottom: 0;
        background: linear-gradient(to top, var(--colors-background) 0%, transparent 100%)
    }

    .c-hdLoZa-boHwDt-expanded-false svg {
        transform: translateY(calc(var(--sizes-1)*-1))
    }

    .c-hdLoZa-boHwDt-expanded-false:hover {
        opacity: 0.5
    }

    .c-hdLoZa-boHwDt-expanded-false:hover>svg {
        transform: translateY(0)
    }

    .c-cFFMrz-uWqWv-active-true {
        background-color: var(--colors-gray1);
        border-color: var(--colors-gray2)
    }

    .c-cFFMrz-uWqWv-active-true button {
        mix-blend-mode: var(--colors-blend)
    }

    .c-jfYOJE-jqbWUN-active-true {
        color: var(--colors-link) !important;
        pointer-events: none
    }

    .c-hNiVqx-fvIekQ-variant-or {
        border-radius: var(--radii-round);
        width: var(--sizes-1);
        height: var(--sizes-1)
    }

    .c-jfYOJE-iaJGrk-active-false {
        color: var(--colors-gray4) !important
    }
}

--sxs {
    --sxs: 5 c-PJLV-eUMklM-cv
}

@media {
    .c-PJLV-eUMklM-cv {
        color: var(--colors-channelClosed3)
    }
}

--sxs {
    --sxs: 6 PJLV-ikGhNDq-css PJLV-icigUDU-css PJLV-ifowKeA-css c-iEDhts-idrkDTT-css PJLV-illGyZa-css PJLV-iigdUtW-css PJLV-ihFephk-css PJLV-iiHRfgF-css PJLV-ibACuTz-css PJLV-idaznFk-css c-lgwVNZ-igJahmN-css c-lhJMUg-iyNPUR-css c-cCfVEt-ihFUfoR-css c-cCfVEt-ibLojnD-css PJLV-icXqJcN-css PJLV-ikOevU-css c-lgwVNZ-idCfIfO-css c-lgwVNZ-idbzpDl-css c-hNiVqx-ieSmJgf-css PJLV-ihIOuyB-css PJLV-iheWKNJ-css c-hTwdXI-illVfQI-css c-cCfVEt-iEswfp-css c-gbjnmB-iletLZi-css PJLV-ilgyWCd-css PJLV-idaCYYM-css c-lhJMUg-ibdvkCu-css c-cCfVEt-ikYthgw-css PJLV-ikcWCwB-css PJLV-ikciCqY-css PJLV-ilmKZPp-css PJLV-ieJPzpK-css PJLV-ijGHXUj-css PJLV-icDhRmp-css c-PJLV-idnoUQF-css c-iEDhts-iiAXXON-css c-cCfVEt-idNqCDY-css PJLV-ibeTnUS-css PJLV-iiLrMfY-css PJLV-ijxSLVo-css PJLV-icmpvrW-css PJLV-idHHgcm-css c-hTwdXI-idhzjXW-css c-lgwVNZ-ibQDgpH-css PJLV-icQFdVt-css PJLV-ihAchyk-css c-lgwVNZ-icLtqsg-css c-lgwVNZ-ieAdznm-css c-lgwVNZ-ikQdYUV-css PJLV-igonjiY-css PJLV-ijVENBK-css PJLV-igKfRQG-css PJLV-igBLgCk-css c-kawSXS-ihutaWv-css c-lgwVNZ-icQFdVt-css PJLV-ifaoEIP-css PJLV-ijRKGQe-css PJLV-idsQuIH-css PJLV-iiPLHWq-css PJLV-icSvhVw-css c-lgwVNZ-idHTEdC-css PJLV-ieFAMFl-css PJLV-iduGDES-css PJLV-ihzwpVF-css c-lgwVNZ-ilgCsN-css PJLV-idxXmJR-css c-htoFbB-igTVPzR-css c-lgwVNZ-idCLvjv-css c-iEDhts-ihbrsya-css c-lgwVNZ-icfVDbL-css PJLV-ibWRrUA-css PJLV-ibiLNEo-css c-eJNopK-iknmidH-css c-lgwVNZ-ikZaagi-css PJLV-iiuUjzx-css c-PJLV-icfVDbL-css PJLV-icDJGS-css PJLV-iiIzasV-css c-PJLV-ibeTnUS-css c-lgwVNZ-icLEqlI-css c-cCfVEt-inOfGf-css PJLV-ihFfyHf-css PJLV-ibVtjJu-css PJLV-igesANN-css PJLV-ijeXXau-css c-lgwVNZ-iirDxsQ-css c-lgwVNZ-idLSWVS-css c-lgwVNZ-iglFYFQ-css c-gbjnmB-ifxrEBZ-css PJLV-iicuPMM-css c-lgwVNZ-ihUWYxz-css PJLV-ifoqjgR-css c-lgwVNZ-icfAlex-css c-lgwVNZ-iDhYta-css c-lhJMUg-ibFeFXz-css PJLV-ijCTQym-css c-lgwVNZ-ijCTQym-css c-gbjnmB-ieJbTfQ-css PJLV-ifzZpNe-css PJLV-ihNAieA-css c-cCfVEt-ijigqbG-css
}

@media {
    .PJLV-ikGhNDq-css {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 55px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 100;
        background-color: var(--colors-background)
    }

    @media (max-width: 520px) {
        .PJLV-ikGhNDq-css {
            background-color: transparent
        }
    }

    .PJLV-icigUDU-css {
        display: flex;
        align-items: center;
        flex: 1
    }

    .PJLV-ifowKeA-css {
        display: flex;
        height: 100%;
        padding-left: var(--space-4);
        padding-right: var(--space-4);
        padding-top: var(--space-3);
        padding-bottom: var(--space-3);
        color: var(--colors-gray5)
    }

    .PJLV-ifowKeA-css:hover {
        color: var(--colors-foreground)
    }

    .c-iEDhts-idrkDTT-css {
        width: 25px;
        height: auto;
        color: CurrentColor
    }

    .PJLV-illGyZa-css {
        margin-left: var(--space-4);
        margin-right: var(--space-4)
    }

    .PJLV-iigdUtW-css {
        gap: var(--space-2);
        flex-direction: row;
        display: flex
    }

    .PJLV-ihFephk-css {
        height: 55px
    }

    .PJLV-iiHRfgF-css {
        position: relative;
        display: flex;
        height: calc(100% - 55px)
    }

    @media (max-width: 520px) {
        .PJLV-iiHRfgF-css {
            display: block;
            height: auto
        }
    }

    .PJLV-ibACuTz-css {
        position: relative;
        overflow: hidden;
        width: 100%;
        height: 100%;
        color: var(--colors-gray2)
    }

    .PJLV-idaznFk-css {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        pointer-events: none
    }

    .c-lgwVNZ-igJahmN-css {
        color: transparent;
        -webkit-user-select: none;
        user-select: none
    }

    .c-lhJMUg-iyNPUR-css {
        display: inline-flex;
        background-color: transparent
    }

    .c-lhJMUg-iyNPUR-css:before {
        content: "";
        background-color: var(--colors-gray1);
        border-radius: inherit;
        position: absolute;
        top: 50%;
        right: 0;
        left: 0;
        height: 90%;
        transform: translateY(-50%)
    }

    .c-lhJMUg-iyNPUR-css:after {
        top: 50%;
        right: 0;
        left: 0;
        height: 90%;
        transform: translateY(-50%)
    }

    .c-cCfVEt-ihFUfoR-css {
        height: var(--sizes-1)
    }

    .c-cCfVEt-ibLojnD-css {
        height: var(--sizes-3)
    }

    .PJLV-icXqJcN-css {
        gap: var(--space-nudge);
        flex-direction: column;
        display: flex
    }

    .PJLV-ikOevU-css {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid var(--colors-gray1);
        padding-bottom: var(--space-nudge)
    }

    .c-lgwVNZ-idCfIfO-css {
        color: transparent;
        -webkit-user-select: none;
        user-select: none;
        margin-left: var(--space-8)
    }

    .c-lgwVNZ-idbzpDl-css {
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        width: -moz-fit-content;
        width: fit-content;
        column-gap: 0.5357142857142857em;
        min-width: 0
    }

    .c-lgwVNZ-idbzpDl-css,
    .c-lgwVNZ-idbzpDl-css * {
        font-weight: bold
    }

    @media (max-width: 520px) {
        .c-lgwVNZ-idbzpDl-css {
            font-size: var(--fontSizes-4);
            line-height: 1.45
        }
    }

    .c-hNiVqx-ieSmJgf-css {
        width: 2px
    }

    .PJLV-ihIOuyB-css {
        color: var(--colors-gray6)
    }

    .PJLV-iheWKNJ-css {
        gap: var(--space-1);
        flex-direction: row;
        display: flex
    }

    .c-hTwdXI-illVfQI-css {
        gap: var(--space-1)
    }

    .c-cCfVEt-iEswfp-css {
        height: var(--sizes-7)
    }

    @media (max-width: 520px) {
        .c-cCfVEt-iEswfp-css {
            height: var(--sizes-4)
        }
    }

    .c-gbjnmB-iletLZi-css {
        height: 165px
    }

    .PJLV-ilgyWCd-css {
        gap: var(--space-1);
        flex-direction: column;
        display: flex
    }

    .PJLV-idaCYYM-css {
        gap: var(--space-1);
        flex-direction: row;
        display: flex;
        flex-wrap: wrap
    }

    .c-lhJMUg-ibdvkCu-css {
        width: 100%;
        height: 100%;
        border-radius: 0
    }

    .c-cCfVEt-ikYthgw-css {
        height: var(--sizes-8)
    }

    @media (max-width: 520px) {
        .c-cCfVEt-ikYthgw-css {
            height: var(--sizes-6)
        }
    }

    .PJLV-ikcWCwB-css {
        width: 100%;
        max-width: 100%;
        aspect-ratio: 1 / 1
    }

    .PJLV-ikciCqY-css {
        position: relative;
        background-color: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: left;
        overflow: hidden;
        width: 100%;
        height: 100%
    }

    .PJLV-ilmKZPp-css {
        width: 100%;
        height: 100%;
        border: 1px solid var(--colors-gray2)
    }

    .PJLV-ieJPzpK-css {
        position: absolute;
        right: var(--space-2);
        bottom: var(--space-2);
        display: flex;
        align-items: center;
        gap: var(--space-1)
    }

    .PJLV-ijGHXUj-css {
        margin-top: var(--space-2);
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        height: var(--sizes-8);
        position: relative;
        padding-left: var(--space-2);
        padding-right: var(--space-2)
    }

    .PJLV-icDhRmp-css {
        padding-top: 0;
        padding-bottom: 0;
        color: var(--colors-link)
    }

    .c-PJLV-idnoUQF-css {
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-height: calc(100dvh - 55px);
        padding-top: var(--space-6);
        padding-bottom: var(--space-6)
    }

    @media (max-width: 520px) {
        .c-PJLV-idnoUQF-css {
            padding-top: var(--space-3);
            padding-bottom: var(--space-3)
        }
    }

    .c-iEDhts-iiAXXON-css {
        width: 20px;
        height: 12px;
        color: var(--colors-slate)
    }

    .c-cCfVEt-idNqCDY-css {
        height: var(--sizes-4)
    }

    .PJLV-ibeTnUS-css {
        display: flex;
        flex-direction: column;
        gap: var(--space-6)
    }

    .PJLV-iiLrMfY-css {
        gap: var(--space-4);
        flex-direction: column;
        display: flex
    }

    .PJLV-ijxSLVo-css {
        gap: var(--space-4);
        flex-direction: row;
        display: flex
    }

    .PJLV-icmpvrW-css {
        position: relative
    }

    .PJLV-idHHgcm-css {
        position: absolute;
        top: 50%;
        right: var(--space-2);
        transform: translateY(-50%);
        display: flex;
        align-items: center;
        justify-content: center
    }

    .c-hTwdXI-idhzjXW-css {
        display: flex
    }

    .c-lgwVNZ-ibQDgpH-css {
        text-align: center;
        color: var(--colors-link)
    }

    .PJLV-icQFdVt-css {
        font-weight: bold
    }

    .PJLV-ihAchyk-css {
        gap: var(--space-8);
        flex-direction: column;
        display: flex
    }

    .c-lgwVNZ-icLtqsg-css {
        color: var(--colors-alert)
    }

    .c-lgwVNZ-ieAdznm-css {
        color: var(--colors-link)
    }

    .c-lgwVNZ-ikQdYUV-css {
        color: var(--colors-link)
    }

    .c-lgwVNZ-ikQdYUV-css a,
    .c-lgwVNZ-ikQdYUV-css button {
        font-weight: bold
    }

    .PJLV-igonjiY-css {
        gap: var(--space-11);
        flex-direction: column;
        display: flex
    }

    .PJLV-ijVENBK-css {
        gap: var(--space-2);
        flex-direction: column;
        display: flex
    }

    .PJLV-igKfRQG-css {
        gap: var(--space-3);
        flex-direction: row;
        display: flex;
        padding: var(--space-3);
        align-items: center;
        justify-content: space-between
    }

    .PJLV-igBLgCk-css {
        gap: var(--space-2);
        flex-direction: row;
        display: flex;
        align-items: center
    }

    .c-kawSXS-ihutaWv-css {
        width: 15px;
        height: 15px;
        border-radius: var(--radii-round);
        background-color: var(--colors-gray2);
        color: var(--colors-link)
    }

    .c-lgwVNZ-icQFdVt-css {
        font-weight: bold
    }

    .PJLV-ifaoEIP-css {
        gap: var(--space-3);
        flex-direction: column;
        display: flex
    }

    .PJLV-ijRKGQe-css {
        height: 450px;
        display: flex
    }

    .PJLV-idsQuIH-css {
        width: 100%;
        max-width: 675px;
        aspect-ratio: 3750 / 2500;
        margin: auto
    }

    .PJLV-iiPLHWq-css {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: var(--space-4)
    }

    .PJLV-icSvhVw-css {
        text-align: center;
        flex: 1
    }

    .c-lgwVNZ-idHTEdC-css {
        color: var(--colors-gray5)
    }

    .PJLV-ieFAMFl-css {
        gap: var(--space-5);
        flex-direction: column;
        display: flex
    }

    .PJLV-iduGDES-css {
        gap: var(--space-6);
        flex-direction: column;
        display: flex
    }

    .PJLV-ihzwpVF-css {
        gap: var(--space-1);
        flex-direction: column;
        display: flex;
        align-items: flex-end
    }

    .c-lgwVNZ-ilgCsN-css {
        color: var(--colors-slate)
    }

    .PJLV-idxXmJR-css {
        width: 100%;
        padding-top: var(--space-10);
        padding-bottom: var(--space-10);
        background-color: var(--colors-brandDark)
    }

    .PJLV-idxXmJR-css,
    .PJLV-idxXmJR-css a {
        color: var(--colors-background)
    }

    .PJLV-idxXmJR-css a:hover {
        color: var(--colors-gray3)
    }

    .c-htoFbB-igTVPzR-css {
        grid-row-gap: var(--space-6)
    }

    .c-lgwVNZ-idCLvjv-css {
        grid-column: span 3
    }

    .c-lgwVNZ-idCLvjv-css,
    .c-lgwVNZ-idCLvjv-css a {
        font-weight: bold
    }

    .c-iEDhts-ihbrsya-css {
        width: 20px;
        height: 12px;
        color: var(--colors-currentColor);
        margin-bottom: var(--space-1)
    }

    .c-lgwVNZ-icfVDbL-css {
        grid-column: span 2
    }

    .PJLV-ibWRrUA-css {
        gap: var(--space-1);
        flex-direction: column;
        display: flex
    }

    .PJLV-ibWRrUA-css,
    .PJLV-ibWRrUA-css a {
        font-weight: bold
    }

    .PJLV-ibiLNEo-css {
        display: flex;
        flex-direction: column;
        gap: var(--space-4)
    }

    .c-eJNopK-iknmidH-css {
        justify-content: space-between
    }

    .c-lgwVNZ-ikZaagi-css {
        font-weight: bold;
        color: var(--colors-link)
    }

    .PJLV-iiuUjzx-css {
        color: var(--colors-slate);
        margin: auto
    }

    .c-PJLV-icfVDbL-css {
        grid-column: span 2
    }

    .PJLV-icDJGS-css {
        gap: var(--space-2);
        flex-direction: column;
        display: flex;
        color: var(--colors-slate)
    }

    .PJLV-icDJGS-css a {
        font-weight: bold;
        color: var(--colors-link)
    }

    .PJLV-icDJGS-css svg {
        color: var(--colors-slate)
    }

    .PJLV-iiIzasV-css {
        display: flex;
        gap: var(--space-1);
        align-items: center
    }

    .c-PJLV-ibeTnUS-css {
        display: flex;
        flex-direction: column;
        gap: var(--space-6)
    }

    @media (max-width: 900px) {
        .c-lgwVNZ-icLEqlI-css {
            font-size: var(--fontSizes-6);
            line-height: 1.25
        }
    }

    .c-cCfVEt-inOfGf-css {
        height: var(--sizes-8)
    }

    @media (max-width: 520px) {
        .c-cCfVEt-inOfGf-css {
            height: var(--sizes-8)
        }
    }

    @media (max-width: 900px) {
        .c-cCfVEt-inOfGf-css {
            height: 0
        }
    }

    .PJLV-ihFfyHf-css {
        gap: var(--space-1);
        flex-direction: row;
        display: flex;
        align-items: center
    }

    .PJLV-ibVtjJu-css {
        padding-top: 0;
        padding-bottom: 0
    }

    .PJLV-igesANN-css {
        width: 50%;
        max-width: 100%;
        aspect-ratio: 1 / 1;
        margin: auto
    }

    .PJLV-ijeXXau-css {
        color: var(--colors-slate);
        border: 1px solid var(--colors-gray2);
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center
    }

    .c-lgwVNZ-iirDxsQ-css {
        color: var(--colors-slate);
        text-align: center
    }

    .c-lgwVNZ-idLSWVS-css {
        color: var(--colors-gray6)
    }

    .c-lgwVNZ-idLSWVS-css a {
        font-weight: bold;
        color: var(--colors-link)
    }

    .c-lgwVNZ-idLSWVS-css a:hover {
        color: var(--colors-gray7)
    }

    .c-lgwVNZ-idLSWVS-css strong {
        font-weight: bold
    }

    .c-lgwVNZ-idLSWVS-css em {
        font-style: italic
    }

    .c-lgwVNZ-idLSWVS-css u {
        text-decoration: underline
    }

    .c-lgwVNZ-idLSWVS-css del {
        text-decoration: line-through
    }

    .c-lgwVNZ-idLSWVS-css sup {
        vertical-align: super;
        font-size: var(--fontSizes-1);
        line-height: 0
    }

    .c-lgwVNZ-idLSWVS-css sub {
        vertical-align: sub;
        font-size: var(--fontSizes-1);
        line-height: 0
    }

    .c-lgwVNZ-iglFYFQ-css {
        background-color: var(--colors-gray1);
        padding-top: var(--space-3);
        padding-bottom: var(--space-3);
        padding-left: var(--space-4);
        padding-right: var(--space-4);
        border-radius: var(--radii-2)
    }

    .c-gbjnmB-ifxrEBZ-css {
        overflow: hidden
    }

    .PJLV-iicuPMM-css {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
        height: 100%;
        padding: var(--space-2)
    }

    .c-lgwVNZ-ihUWYxz-css {
        color: transparent;
        -webkit-user-select: none;
        user-select: none;
        padding-top: var(--space-1);
        padding-bottom: var(--space-1);
        padding-left: var(--space-2);
        padding-right: var(--space-2)
    }

    .PJLV-ifoqjgR-css {
        gap: 0;
        flex-direction: column;
        display: flex;
        margin-left: calc(var(--space-2)*-1);
        margin-top: calc(var(--space-2)*-1)
    }

    @media (max-width: 520px) {
        .PJLV-ifoqjgR-css {
            margin-left: 0;
            margin-top: 0;
            border-bottom: 1px solid var(--colors-gray1);
            padding-bottom: var(--space-3)
        }
    }

    .c-lgwVNZ-icfAlex-css {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: var(--space-2);
        color: var(--colors-link);
        border-radius: var(--radii-1);
        -webkit-user-select: none;
        user-select: none
    }

    .c-lgwVNZ-icfAlex-css:hover {
        background-color: var(--colors-gray1);
        color: var(--colors-foreground)
    }

    .c-lgwVNZ-icfAlex-css:focus-visible {
        background-color: var(--colors-gray2);
        color: var(--colors-foreground)
    }

    .c-lgwVNZ-iDhYta-css {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: var(--space-2);
        color: var(--colors-foreground);
        border-radius: var(--radii-1);
        -webkit-user-select: none;
        user-select: none
    }

    .c-lgwVNZ-iDhYta-css:hover {
        background-color: var(--colors-gray1);
        color: var(--colors-foreground)
    }

    .c-lgwVNZ-iDhYta-css:focus-visible {
        background-color: var(--colors-gray2);
        color: var(--colors-foreground)
    }

    .c-lgwVNZ-iDhYta-css {
        background-color: var(--colors-gray2);
        pointer-events: none
    }

    .c-lhJMUg-ibFeFXz-css {
        align-self: flex-end
    }

    .PJLV-ijCTQym-css {
        color: var(--colors-blue2)
    }

    .c-lgwVNZ-ijCTQym-css {
        color: var(--colors-blue2)
    }

    .c-gbjnmB-ieJbTfQ-css {
        min-height: 165px
    }

    .PJLV-ifzZpNe-css {
        gap: var(--space-2);
        flex-direction: column;
        display: flex;
        margin-top: var(--space-6);
        margin-bottom: var(--space-6)
    }

    .PJLV-ihNAieA-css {
        gap: var(--space-1);
        flex-direction: column;
        display: flex;
        margin: auto;
        text-align: center
    }

    .c-cCfVEt-ijigqbG-css {
        height: var(--sizes-6)
    }
}