font-family: "Gotu", sans-serif;
<link href="https://fonts.googleapis.com/css2?family=Gotu&display=swap" rel="stylesheet">

font-family: "Bellota Text", sans-serif;
<link href="https://fonts.googleapis.com/css2?family=Bellota+Text&display=swap" rel="stylesheet"> 

font-family: "Overlock", sans-serif;
<link href="https://fonts.googleapis.com/css2?family=Overlock&display=swap" rel="stylesheet">

font-family: "Georama", sans-serif;
<link href="https://fonts.googleapis.com/css2?family=Georama&display=swap" rel="stylesheet">

font-family: "Epilogue", sans-serif;
<link href="https://fonts.googleapis.com/css2?family=Epilogue&display=swap" rel="stylesheet">

font-family: "Quattrocento Sans", sans-serif;
<link href="https://fonts.googleapis.com/css2?family=Quattrocento+Sans&display=swap" rel="stylesheet">

font-family: "Assistant", sans-serif;
<link href="https://fonts.googleapis.com/css2?family=Assistant&display=swap" rel="stylesheet">

font-family: "Dosis", sans-serif;
<link href="https://fonts.googleapis.com/css2?family=Dosis&display=swap" rel="stylesheet">

font-family: "IBM Plex Sans", sans-serif;
<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap" rel="stylesheet">

font-family: "Titillium Web", sans-serif;
<link href="https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap" rel="stylesheet">
