font-family: "Dosis", sans-serif;
<link href="https://fonts.googleapis.com/css2?family=Dosis&display=swap" rel="stylesheet">

font-family: "IBM Plex Sans", sans-serif;
<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap" rel="stylesheet">

font-family: "Titillium Web", sans-serif;
<link href="https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap" rel="stylesheet">
