@font-face {
    font-family: 'BwBetoGrande Regular';
    src: url('BwBetoGrande-Regular.eot');
    src: url('BwBetoGrande-Regular.eot?#iefix') format('embedded-opentype'),
    url('BwBetoGrande-Regular.woff2') format('woff2'),
    url('BwBetoGrande-Regular.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: auto
}

@font-face{
    font-family:"geomanistregular_n2";
    src: url('geomanist-light-webfont.eot'); format('eot')
}
@font-face {
    font-family: 'geomanistregular';
    src: url('geomanist-light-webfont.eot');
    src: url('geomanist-light-webfont.eot?#iefix') format('embedded-opentype'),
    url('geomanist-light-webfont.woff2') format('woff2'),
    url('geomanist-light-webfont.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face{
    font-family:"geomanistregular_n2";
    src: url('geomanist-regular-webfont.eot'); format('eot')
}
@font-face {
    font-family: 'geomanistregular';
    src: url('geomanist-regular-webfont.eot');
    src: url('geomanist-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('geomanist-regular-webfont.woff') format('woff2'),
    url('geomanist-regular-webfont.woff2') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Againts refresh Regular";
    src: url("a284d848f02dcea64d321ebe739d67e9.eot"); /* IE9*/
    src: url("a284d848f02dcea64d321ebe739d67e9.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("a284d848f02dcea64d321ebe739d67e9.woff2") format("woff2"), /* chromeã€firefox */
    url("a284d848f02dcea64d321ebe739d67e9.woff") format("woff"), /* chromeã€firefox */
    url("a284d848f02dcea64d321ebe739d67e9.ttf") format("truetype"), /* chromeã€firefoxã€operaã€Safari, Android, iOS 4.2+*/
    url("a284d848f02dcea64d321ebe739d67e9.svg#Againts refresh Regular") format("svg"); /* iOS 4.1- */
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
