/**
*
* Font Family: Melodrama (Variable font)
* You can control variable axes as shown below:
* font-variation-settings: wght 300.0;
*
* available axes:
'wght' (range from 300.0 to 700.0
*/
@font-face {
  font-family: 'Melodrama';
  src: url('/fonts/Melodrama.woff2') format('woff2'),
       url('/fonts/Melodrama.woff') format('woff'),
       url('/fonts/Melodrama.ttf') format('truetype');
  font-weight: 300 700;
  font-display: swap;
  font-style: normal;
}


@font-face {
  font-family: 'Kola';
  src: url('/fonts/Kola.woff2') format('woff2'),
       url('/fonts/Kola.woff') format('woff');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

