@font-face {
    font-family: 'TT Geekette Trial Var';
    src: url('TTGeeketteTrialVar.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TT Geekette Trial Muscles';
    src: url('TTGeeketteTrial-Muscles.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TT Geekette Trial Bones';
    src: url('TTGeeketteTrial-Bones.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

