@font-face {
    font-family: 'ORGANICAL PERSONAL USE';
    src: url('ORGANICALPERSONALUSE-BoldItalic.woff2') format('woff2'),
        url('ORGANICALPERSONALUSE-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

