@font-face {
    font-family: 'TheGoodMonolith';
    src: url('TheGoodMonolith.woff2') format('woff2'),
        url('TheGoodMonolith.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

