@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Space+Mono&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --color-background: #0e0e10;
  --color-foreground: #f0f0f0;
  --color-accent: #64c8ff;
  --font-primary: "Inter", sans-serif;
  --font-secondary: "Space Mono", monospace;
  --margin: 0;
  --gutter: 16px;
}

body {
  font-family: var(--font-primary);
  background-color: var(--color-background);
  color: var(--color-foreground);
  line-height: 1.2;
  overflow-x: hidden;
  position: relative;
  font-weight: 400;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  font-size: 0.875rem;
  font-family: var(--font-secondary);
  text-transform: uppercase;
}

.navbar__links {
  display: flex;
  gap: var(--gutter);
}

.navbar__links a {
  color: var(--color-foreground);
  text-decoration: none;
  margin-left: var(--gutter);
}

.navbar__links a:hover {
  text-decoration: underline;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 0;
  padding: 0;
  margin: 0 auto;
  align-items: flex-end;
  height: 100vh;
}

.grid-item {
  text-align: left;
}

.grid-item__text {
  margin-bottom: var(--gutter);
  font-size: 0.875rem;
  padding: 1rem 2rem;
  line-height: 1.4;
  font-family: var(--font-secondary);
  text-transform: uppercase;
}

.grid-item__text h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  font-family: var(--font-primary);
  letter-spacing: -0.02em;
}

.grid-item__text span {
  display: block;
}

.grid-item__image {
  width: 100%;
  height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
}

.dg.ac {
  z-index: 9999 !important;
}