body {
  margin: 1rem;
}

section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  background: #f003;
  gap: 1rem;
}

div {
  padding: 1rem;
  background: #00f3;
  aspect-ratio: 1;
  box-sizing: border-box;
}

div:nth-child(13n + 1) { 
  grid-column: auto / span 2;
  grid-row: auto / span 2;
}

div:nth-child(13n + 6),
div:nth-child(13n) { 
  grid-column: auto / span 2;
  aspect-ratio: 2;
}

@media (orientation: portrait) and (min-width: 500px) {
  section {
    background: pink;
    color: #fff;
    grid-template-columns: repeat(6, minmax(0, 1fr));
  }
  
  div {
    grid-column: auto / span 2;
  }
  
  div:nth-child(13n) { 
    grid-column: auto / span 4;
    aspect-ratio: auto;
  }
  
  div:nth-child(13n + 1) { 
    grid-column: 1 / 5;
  }
  
  div:nth-child(13n + 4),
  div:nth-child(13n + 5) {
    grid-column: auto / span 3;
  }
  
  div:nth-child(13n + 6) {
    aspect-ratio: 1;
  }
  
  div:nth-child(13n + 7) {
    grid-column: auto / span 4;
    grid-row: auto / span 2;
    aspect-ratio: auto;
  }
  
  div:nth-child(13n + 9) { 
    grid-column: auto / span 4;
    aspect-ratio: auto;
  }
  
  div:nth-child(13n + 13) { 
    grid-column: auto / span 2;
    aspect-ratio: 1;
  }
}

@media (orientation: landscape) {
  section {
    background: yellow;
    grid-template-columns: repeat(8, minmax(0, 1fr));
  }
  
  div {
    grid-column: auto / span 2;
    grid-row: auto / span 2;
  }
  
  div:nth-child(13n) { 
    grid-column: auto / span 2;
    aspect-ratio: 1;
  }
  
  div:nth-child(13n + 1) { 
    grid-column: auto / span 4;
    grid-row: auto / span 4;
  }
  
  div:nth-child(13n + 5) {
    grid-row: auto / span 4;
    aspect-ratio: auto;
  }
  
  div:nth-child(13n + 6) {
    grid-column: auto / span 2;
    aspect-ratio: 1;
  }
  
  div:nth-child(13n + 9) {
    grid-column: auto / span 3;
    aspect-ratio: 1.35;
  }
  
  div:nth-child(13n + 10) {
    grid-column: auto / span 5;
    aspect-ratio: auto;
  }
  
  div:nth-child(13n + 11) {
    grid-row: auto / span 2;
    grid-column: auto / span 4;
    aspect-ratio: auto;
  }
}